
/* ---------------------- VARIABLES ---------------------- */
/* ------------------------ FONTS ------------------------ */

$font-sizes: (
  xs: (size: 16px, weight: 400),
  s: (size: 18px, weight: 400),
  m: (size: 20px, weight: 400),
  l: (size: 25px, weight: 600),
  xl: (size: 30px, weight: 800),
  );
  
$font-family: (
  font-primary: 'Saira Condensed',
  font-secondary: 'Rajdhani',
  font-tertiary: 'Pathway Gothic One',
  );
  
  $font-primary: 'Saira Condensed', sans-serif;
  $font-secondary: 'Rajdhani', sans-serif;
  $font-tertiary: 'Pathway Gothic One', sans-serif;

  /* --------------------- BRACKPOINTS --------------------- */

  $screen-xxs-max: 320px;
  $screen-xs-max: 425px;
  $screen-sm-max: 576px;
  $screen-md-max: 768px;
  $screen-lg-max: 992px;