
/* ---------------------- VARIABLES ---------------------- */

$font-sizes: (
  xs: (size: 16px, weight: 400),
  s: (size: 18px, weight: 400),
  m: (size: 20px, weight: 400),
  l: (size: 25px, weight: 600),
  xl: (size: 30px, weight: 800),
);

$font-family: (
  font-primary: 'Saira Condensed',
  font-secondary: 'Rajdhani',
  font-tertiary: 'Pathway Gothic One',
);