/* --------------------- TIPOGRAFIAS --------------------- */

@import '../utilities/variables';

@each $font, $name in $font-family {
    $font-key: $font;
    $font-value: $name;

    @each $size-name, $size-value in $font-sizes {
        $size: map-get($size-value, size);
        $weight: map-get($size-value, weight);

        .#{$font-key}-#{$size-name} {
            font-family: $font-value;
            font-size: $size;
            font-weight: $weight;
        }

        // @mixin font-type ($fontToUse,$sizeToUse,$weight- ) #{$font-key}-#{$size-name} {
        //     font-family: $font-value

        // }
    }
}


.precio {
    @extend .font-primary-xl;
    font-size: 35px;
    text-align: center;
    color: $color-secundary;
}

.descripcion {
    @extend .font-primary-m;
    text-align: center;
    color: $color-secundary;
}

.titulo-producto {
    @extend .font-primary-xl;
}

.subtitulo-producto {
    @extend .font-primary-l;
    margin-top: 20px;
}