/* ----------------------- INDEX ------------------------- */
/* ------------------------ main ------------------------- */

/* header realizado con Boostrap */

.slideOfertas {
    background-image: url("../multimedia/img/section-slide-background-img1.jpg");
    background-size: cover;
    background-position: center -14px;
    padding: 35px;
    &__img {
      @include row;
      justify-content: space-around;
      img {
        width: 15%;
        min-width: 200px;
        &:hover {
          transform: scale(1.3);
          position: relative;
        }
      }
    }
  }
  
  .ofertas-titulo {
    @include row;
    justify-content: center;
    h2 {
      @extend %font-secondary-xl;
      font-size: 50px;
      text-transform: uppercase;
      color: $color-primary;
    }
    img {
      height: 45px;
      padding: 0px 20px;
    }
  }
  
  .oportunidades {
    @include row;
    justify-content: space-evenly;
    text-align: center;
    margin: 35px 50px;
    a {
      max-width: 200px;
      &:hover {
        transform: scale(1.2);
        position: relative;
      }
    }
  }
  
  .fender-gibson {
    @include row;
    justify-content: space-evenly;
    background-color: $color-secundary;
    padding: 50px 30px;
    margin-bottom: 20px;
    img {
      width: 40vw;
      min-width: 300px;
    }
  }
  
  .slide-brand {
    @include row;
    justify-content: center;
    margin: 10px;
    img {
      width: 35vw;
      height: 200px;
      padding: 20px 30px;
    }
  }
  
  .productosDestacados {
    text-align: center;
    margin: 50px 20px;
    h3 {
      font-size: 40px;
      color: $color-secundary;
      font-weight: 800;
      padding-bottom: 30px;
    }
    img {
      width: 15vw;
      min-width: 200px;
      padding-bottom: 10px;
    }
    &__img {
      @include row;
      justify-content: space-evenly;
      a {
          width: 18vw;
          min-width: 200px;
          margin: 20px;
      }
    }
  }
  
  .prefooter {
    background-image: url("../multimedia/img/main-prefooter-background2.jpg");
    background-size: 100% 200%;
    background-position: center center;
    @extend %font-primary-l;
    text-align: center;
    color: $color-primary;
    padding: 50px;
    input[type="email"] {
      @include block-center (30px);
      @extend %font-primary-xs;
      text-align: center;
      padding: 3px 0px;
      width: 70vw;
      border-radius: 0.75rem;
      border: none;
      outline: none;
    }
    input[type="submit"] {
      @include block-center (30px);
      @extend %font-primary-s;
      font-weight: 800;
      color: $color-secundary;
      padding: 3px 0px;
      width: 70vw;
      border-radius: 0.75rem;
      border: none;
      background-color: $color-primary;
      &:hover {
        color: $color-primary;
        background-color: $color-transparente;
      }
    }
  }