
/* -------------------- PAGE LOGUEO ---------------------- */

.login {
    background-image: url(../multimedia/img/login-background-.png);
    background-color: $bg-pageLogin;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    @extend %font-secondary-xl;
    font-weight: 600;
    @include row;
    align-items: normal;
    justify-content: center;
    padding: 30px 0px;
    height: calc(100vh - 117px);
    input {
        @extend %font-secondary-xs;
        padding: 5px;
        margin-bottom: 10px;
        border: none;
        background: $color-transparente;
        box-shadow: -3px 9px 20px 2px #00000080;
        transition: .3s ease;
        &:focus {
            outline: none;
            box-shadow: -3px 9px 20px 2px rgba(202, 0, 0, 0.502);
        }
        &[type=submit] {
            border: none;
            background-color: $bg-boton;
            color: $color-primary;
            padding: 5px;
            margin: 10px 0px;
            border-radius: .5rem;
        }
    }
    label {
        font-size: 20px;
        padding: 5px 0px;
    }
    &__sesion {
        @include column;
        padding-right: 40px;
        width: 30%;
        border-right: 2px solid black;
        p {
            text-align: right;
            font-weight: 800;
            padding: 10px 0px;
        }
        form {
            @include column;
        }
        &-registrarse {
            @extend %font-secondary-m;
            font-weight: 600;
            display: none;
        }
    }
    &__usuario {
        @include column;
        margin-left: 40px;
        width: 30%;
        p {
            text-align: left;
            font-weight: 800;
            padding: 10px 0px;
        }
        form {
            @include column;
        }
        &__check {
            @include row;
            gap: 20px;
            input[type=checkbox] {
                margin: 0px;
            }
        }
    }
}