/* --------------- PAGE SIGNATURE GIBSON ----------------- */

.signature-gibson {
    background-color: $bg-dark;
    color: $color-primary;
    @extend .font-primary-xl;
    @include row;
    justify-content: space-evenly;
}

.compraGibson {
    display: flex;
    padding: 0px 30px;
    margin: 50px 0px;
    justify-content: space-evenly;
    align-items: flex-start;
    p {
        text-align: left;
    }
    img {
        @include size-img (30px,auto);
        border-radius: 50%;
    }
    &__compra {
        @include column;
        align-items: center;
        img {
            display: block;
            @include size-img (60px,auto);
            padding-bottom: 20px;
        }
    }
    &__slide {
        img {
            @include size-img (450px,auto);
        }
    }

}

.mediaVideo {
    @include column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: $bg-dark;
    &__youtube {
        @include size-img(80%,50vh);
    }
    &__spotify {
        @include size-img (80%,300px);
    }
}

.signature-gibson-img {
    @include row;
    padding: 20px;
    background-color: $bg-dark;
    justify-content: center;
    margin-top: -150px;
    img {
        width: 30%;
    }
}

.especificaciones {
    @extend .font-tertiary-xl;
    list-style: none;
    padding: 10px;
    h4 {
        @extend .font-tertiary-l;
    }
    p {
        @extend .font-tertiary-s;
    }
}
