// ! NORMALIZE

/* ----------------- Iniciacion  -----------------*/

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    /* Sacar el subrayado del link */
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}
