
/* --------------------- NORMALIZE ----------------------- */
/* -------------------- INICIACION ----------------------- */

* {
    padding: 0px;
    margin: 0px;
    /* Sacar el subrayado del link */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Saira Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}

p, h3, h4 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 16px;
    margin: 0; /* QUITAR CLASE DE BOOTSTRAP */
    font-weight: normal;
}


